In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('~/Downloads/CCRB-Complaint-Data_202007261025/allegations_20200726939.csv')
uni=pd.read_csv('~/Downloads/Copy of US Higher Education_ Value vs. Vulnerability.csv')

In [5]:
df.head(2)

,unique_mos_id,first_name,last_name,command_now,complaint_id,month_received,year_received,month_closed,year_closed,command_at_incident,...,mos_age_incident,complainant_ethnicity,complainant_gender,complainant_age_incident,fado_type,allegation,precinct,contact_reason,outcome_description,board_disposition
0,10004,Jonathan,Ruiz,078 PCT,42835,7,2019,5,2020,078 PCT,...,32,Black,Female,38.0,Abuse of Authority,Failure to provide RTKA card,78.0,Report-domestic dispute,No arrest made or summons issued,Substantiated (Command Lvl Instructions)
1,10007,John,Sears,078 PCT,24601,11,2011,8,2012,PBBS,...,24,Black,Male,26.0,Discourtesy,Action,67.0,Moving violation,Moving violation summons issued,Substantiated (Charges)

In [6]:
# Who has the most records?
# how often did the person get complaint?
# Race and gender of the complainent?
# what kind allegation depending on race and gender?
# which percinct has the most allegations againts?
# does getting certain amount of allegation get you arrested or fired?

In [7]:
uni.head(50)

,Average,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,59%,Unnamed: 7,"52,912",Unnamed: 9,...,"$36,056",Unnamed: 22,Unnamed: 23,Unnamed: 24,"$154,780",Unnamed: 26,6%,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.43,NaN,NaN,NaN,NaN,0.95,NaN
1,Total Points,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.00,27.00,1.00,NaN,NaN,NaN,NaN,2.00,NaN
2,Source,IPEDS database,IPEDS database,NaN,US News & World Report,NaN,IPEDS database,NaN,Google Keyword Planner,NaN,...,IPEDS database,NaN,NaN,NaN,IPEDS database,NaN,IPEDS database,NaN,NaN,NaN
3,Institution Name,Full Time Enrollment,State,Ranking List,Rank,Rank Pct Rank,Undergraduate Admit Rate,Undergraduate Admit Rate Pct Rank,Average Monthly Search Volume,Average Monthly Search Volume Pct Rank,...,Average Undergraduate Tuition and Fees,Average Undergraduate Tuition & Fees Score,Value\n(C x E x E),Value-to-Cost Ratio,Endowment per Full Time Student,Endowment per Full Time Student Pct Rank,Percentage of International Students,Percentage of International Students PCT Rank,Vulnerability Score,Prof G Categorization
4,Adelphi University,"6,562",NY,USN National University Ranking,166,0.28,74%,0.29,"60,500",0.70,...,"$38,740",0.51,5.82,0.42,"$28,738",0.70,3%,0.39,1.09,Perish
5,Agnes Scott College,998,GA,USN National College Ranking,58,0.74,70%,0.38,"14,800",0.19,...,"$41,160",0.57,2.91,0.19,"$229,886",0.16,4%,0.50,0.66,Struggle
6,Albion College,"1,509",MI,USN National College Ranking,140,0.38,68%,0.43,"18,100",0.26,...,"$45,590",0.68,2.29,0.13,"$115,513",0.32,1%,0.07,0.38,Struggle
7,Allegheny College,"1,724",PA,USN National College Ranking,82,0.64,64%,0.52,"22,200",0.33,...,"$47,540",0.72,5.43,0.28,"$128,095",0.29,4%,0.50,0.79,Struggle
8,American University,"11,435",DC,USN National University Ranking,77,0.66,32%,0.84,"110,000",0.87,...,"$48,459",0.74,9.01,0.45,"$59,154",0.51,3%,0.39,0.90,Thrive
9,Amherst College,"1,855",MA,USN National College Ranking,2,1.00,13%,0.95,"60,500",0.70,...,"$56,426",0.99,21.08,0.79,"$1,281,691",0.02,7%,0.67,0.69,Thrive
10,Arizona State University-Tempe,"46,180",AZ,USN National University Ranking,117,0.50,85%,0.09,"165,000",0.94,...,"$19,579",0.19,8.77,1.74,"$15,603",0.84,6%,0.64,1.48,Survive
11,Auburn University,"25,806",AL,USN National University Ranking,104,0.55,75%,0.28,"135,000",0.90,...,"$20,900",0.22,5.38,0.92,"$29,892",0.69,1%,0.07,0.76,Thrive
12,Augustana College,"2,534",IL,USN National College Ranking,92,0.59,64%,0.51,"27,100",0.41,...,"$42,135",0.59,4.70,0.29,"$66,351",0.47,11%,0.81,1.28,Perish
13,Austin College,"1,295",TX,USN National College Ranking,117,0.50,55%,0.66,"18,100",0.26,...,"$39,960",0.54,2.88,0.20,"$109,463",0.33,1%,0.07,0.39,Struggle
14,Azusa Pacific University,"7,194",CA,USN National University Ranking,228,0.14,69%,0.43,"40,500",0.55,...,"$38,880",0.51,3.88,0.28,"$12,081",0.89,0%,0.00,0.89,Struggle
15,Baker University,"1,119",KS,USN National University Ranking,254,0.08,88%,0.06,"12,100",0.14,...,"$29,830",0.38,1.09,0.11,"$34,453",0.66,3%,0.39,1.04,Perish
16,Ball State University,"15,926",IN,USN National University Ranking,192,0.22,65%,0.49,"60,500",0.70,...,"$18,182",0.15,2.77,0.67,"$13,453",0.87,0%,0.00,0.87,Thrive
17,Bard College,"2,121",NY,USN National College Ranking,62,0.73,65%,0.50,"49,500",0.63,...,"$54,680",0.91,3.07,0.12,"$69,834",0.44,17%,0.95,1.39,Perish
18,Barnard College,"2,519",NY,USN National College Ranking,25,0.90,14%,0.94,"60,500",0.70,...,"$55,032",0.93,17.78,0.71,"$136,998",0.27,12%,0.83,1.09,Survive
19,Bates College,"1,832",ME,USN National College Ranking,21,0.91,18%,0.91,"33,100",0.47,...,"$53,794",0.87,14.42,0.61,"$172,259",0.22,10%,0.78,1.00,Survive
20,Baylor University,"16,451",TX,USN National University Ranking,79,0.66,39%,0.79,"165,000",0.94,...,"$45,542",0.68,6.96,0.38,"$79,678",0.40,3%,0.39,0.79,Struggle
21,Bellarmine University,"2,762",KY,USN National University Ranking,197,0.21,86%,0.07,"22,200",0.33,...,"$42,200",0.60,1.69,0.10,"$24,209",0.74,1%,0.07,0.81,Struggle
22,Belmont University,"7,521",TN,USN National University Ranking,166,0.28,82%,0.14,"74,000",0.78,...,"$34,310",0.44,0.98,0.08,"$29,388",0.69,1%,0.07,0.76,Struggle
23,Beloit College,"1,228",WI,USN National College Ranking,82,0.64,56%,0.66,"14,800",0.19,...,"$50,040",0.77,2.52,0.12,"$131,053",0.28,20%,0.97,1.26,Perish
24,Bennington College,780,VT,USN National College Ranking,89,0.61,57%,0.64,"14,800",0.19,...,"$53,860",0.87,2.33,0.10,"$44,814",0.58,21%,0.98,1.56,Perish
25,Berea College,"1,631",KY,USN National College Ranking,46,0.80,38%,0.80,"27,100",0.41,...,"$39,990",0.54,3.40,0.23,"$730,888",0.04,7%,0.67,0.71,Struggle
26,Bethel University,"3,555",MN,USN National University Ranking,197,0.21,71%,0.38,"40,500",0.55,...,"$37,300",0.49,2.31,0.18,"$18,925",0.81,6%,0.64,1.45,Perish
27,Binghamton University,"15,748",NY,USN National University Ranking,79,0.66,40%,0.78,"90,500",0.82,...,"$18,251",0.16,10.28,2.46,"$7,027",0.96,6%,0.64,1.60,Survive
28,Biola University,"4,656",CA,USN National University Ranking,185,0.24,73%,0.31,"40,500",0.55,...,"$40,488",0.55,1.39,0.09,"$33,195",0.67,4%,0.50,1.16,Perish
29,Birmingham Southern College,"1,261",AL,USN National College Ranking,140,0.38,57%,0.65,"8,100",0.08,...,"$17,650",0.14,1.98,0.52,"$44,965",0.58,1%,0.07,0.64,Thrive
30,Boston College,"13,165",MA,USN National University Ranking,37,0.84,28%,0.86,"165,000",0.94,...,"$55,464",0.96,21.00,0.81,"$191,087",0.19,8%,0.71,0.90,Thrive
31,Boston University,"28,287",MA,USN National University Ranking,40,0.82,22%,0.89,"201,000",0.97,...,"$53,948",0.88,19.97,0.84,"$77,042",0.41,24%,0.99,1.40,Survive
32,Bowdoin College,"1,825",ME,USN National College Ranking,6,0.98,10%,0.96,"49,500",0.63,...,"$53,922",0.88,20.29,0.86,"$892,145",0.03,9%,0.74,0.77,Thrive
33,Bowling Green State University-Main Campus,"14,323",OH,USN National University Ranking,246,0.10,72%,0.34,"27,500",0.47,...,"$15,099",0.08,0.95,0.44,"$11,331",0.90,2%,0.26,1.16,Survive
34,Brandeis University,"5,267",MA,USN National University Ranking,40,0.82,31%,0.84,"49,500",0.63,...,"$55,395",0.95,9.88,0.39,"$198,668",0.19,19%,0.97,1.15,Perish
35,Brigham Young University-Provo,"30,162",UT,USN National University Ranking,77,0.66,64%,0.50,"40,500",0.55,...,"$5,620",0.01,11.41,42.27,"$65,460",0.47,2%,0.26,0.73,Thrive
36,Brown University,"9,648",RI,USN National University Ranking,14,0.94,8%,0.98,"165,000",0.94,...,"$55,466",0.96,22.64,0.87,"$373,533",0.10,15%,0.92,1.02,Survive
37,Bryn Mawr College,"1,632",PA,USN National College Ranking,27,0.89,34%,0.82,"27,100",0.41,...,"$52,360",0.81,12.44,0.57,"$549,777",0.06,22%,0.99,1.05,Survive
38,Bucknell University,"3,621",PA,USN National College Ranking,35,0.85,33%,0.83,"49,500",0.63,...,"$56,092",0.98,15.09,0.57,"$235,103",0.16,7%,0.67,0.83,Thrive
39,California Institute of Technology,"2,233",CA,USN National University Ranking,12,0.95,7%,0.99,"14,800",0.19,...,"$52,362",0.82,16.34,0.74,"$1,301,837",0.02,8%,0.71,0.72,Thrive
40,California State University-Fresno,"21,444",CA,USN National University Ranking,211,0.18,58%,0.63,"8,100",0.08,...,"$12,527",0.02,2.48,4.59,"$7,068",0.96,1%,0.07,1.03,Survive
41,Campbell University,"5,457",NC,USN National University Ranking,272,0.04,76%,0.24,"49,500",0.63,...,"$32,500",0.42,1.70,0.15,"$27,385",0.72,2%,0.26,0.97,Perish
42,Carleton College,"2,077",MN,USN National College Ranking,7,0.97,20%,0.90,"33,100",0.47,...,"$54,759",0.92,12.90,0.52,"$422,963",0.08,12%,0.83,0.90,Thrive
43,Carnegie Mellon University,"13,160",PA,USN National University Ranking,25,0.90,17%,0.92,"33,100",0.47,...,"$55,465",0.96,17.12,0.66,"$142,264",0.26,18%,0.96,1.22,Survive
44,Case Western Reserve University,"10,662",OH,USN National University Ranking,40,0.82,29%,0.86,"60,500",0.70,...,"$49,042",0.75,15.65,0.77,"$176,961",0.21,13%,0.86,1.07,Survive
45,Catholic University of America,"4,257",DC,USN National University Ranking,139,0.39,84%,0.11,"14,800",0.19,...,"$45,804",0.69,3.84,0.21,"$82,326",0.38,1%,0.07,0.45,Struggle
46,Centenary College of Louisiana,549,LA,USN National College Ranking,157,0.31,60%,0.59,"2,900",0.04,...,"$36,580",0.46,1.19,0.09,"$241,238",0.15,0%,0.00,0.15,Struggle
47,Central College,"1,077",IA,USN National College Ranking,160,0.30,70%,0.39,"9,900",0.11,...,"$37,296",0.48,1.30,0.10,"$75,219",0.42,0%,0.00,0.42,Struggle
48,Central Michigan University,"15,966",MI,USN National University Ranking,240,0.11,69%,0.42,"60,500",0.70,...,"$18,540",0.17,2.14,0.47,"$11,398",0.90,1%,0.07,0.97,Survive
49,Centre College,"1,433",KY,USN National College Ranking,53,0.77,73%,0.31,"14,800",0.19,...,"$41,700",0.58,2.90,0.19,"$225,826",0.17,5%,0.59,0.76,Struggle

In [2]:
uni.melt()

NameError: name 'uni' is not defined

In [25]:
uni.columns

Index(['Average', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', '59%', 'Unnamed: 7', '52,912', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', '$296,037',
       'Unnamed: 15', '$804,297', 'Unnamed: 17', '$11,203', 'Unnamed: 19',
       'Unnamed: 20', '$36,056', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       '$154,780', 'Unnamed: 26', '6%', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30'],
      dtype='object')